.main {
  width: 80%;
  margin: auto;
  border: 2px solid teal;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.heading {
  font-size: 42px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}
.search {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sl {
  width: 60%;
}
.sr {
  width: 30%;
}
.pagination {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
